*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --font-sans: "DM Sans", sans-serif;
  --font-mono: "DM Mono", monospace;

  --color-bg: #f9f9f7;
  --color-surface: #ffffff;
  --color-surface-secondary: #f3f3f0;
}